<% content_for :title do %>
	Products
<% end %>
	
<% content_for :body do %>
	<div class='container'>
		<h1>Listing products</h1>
		<a href='/comments'>All Comments</a>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Category</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.name %></td>
						<td><%= product.description %></td>
						<td>$<%= product.price %></td>
						<td><%= product.cat %></td>
						<td><a href='/products/<%= product.id %>'>Show</a> | <a href='/products/<%= product.id %>/edit'>Edit</a> | <a href='/products/<%= product.id %>' data-method='delete'>Destroy</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<p><a href='/products/new'>New Product</a></p>
	</div>
<% end %> 
